{% extends 'blogapp/base.html' %}

{% load static %}

{% block custom_fonts %}
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block custom_stylesheet %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.description | safe}}</h2>
            {% if post.is_draft == False %}
              <span class="meta">Posted by
                <a href="#">{{post.author}}</a>
                on {{post.published_date}}</span>
            {% else %}
              <span class="meta">Created by
                <a href="#">{{post.author}}</a>
                on {{post.date_created}}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->

  <style>
    blockquote {
      margin-left: 20px;
      border-left: 4px solid brown;
      padding-left: 30px;
      display: block;
      color: gray;
    }
  </style>

  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

        {{post.body | safe}}
        
        </div>
      </div>
    </div>
  </article>

<br><br>
<hr>

{% endblock %}

{% block custom_scripts %}
      
{% endblock %}
    