{% extends 'blogapp/base.html' %}

{% load static %}

{% block custom_fonts %}
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block custom_stylesheet %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<style>
    p.aboutme {
        text-align: center;
        font-family: cursive;
        font-size: larger;
    }
    h3 {
        font-size: larger;
        font-weight: 700;
    }

</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>User Profile of {{user_profile.username}}</h2>
            <div class="subheading">Works at {{user_profile.organisation}} as a {{user_profile.role}}</div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

            <h3>First Name : {{user_profile.first_name}}</h3>
            <hr>

            {% if user_profile.last_name != "" %}
            <h3>Last Name : {{user_profile.last_name}}</h3>
            <hr>
            {% endif %}

            <h3>Email : {{user_profile.email}}</h3>
            <hr>

            {% if user_profile.organisation != "" %}
            <h3>Organisation : {{user_profile.organisation}}</h3>
            <hr>
            {% endif %}

            {% if user_profile.role != "" %}
            <h3>Role : {{user_profile.role}}</h3>
            <hr>
            {% endif %}
            <br>
            
            <h3 style="text-align: center; text-decoration: underline;">Skills</h3> 
            <p class="aboutme">{{user_profile.skills}}</p>
            <hr>

            <br>
            {% if user_profile.description != "" %}
            <h3 style="text-align: center; text-decoration: underline;">About Me</h3> 
            <p class="aboutme">{{user_profile.description}}</p>
            <hr>
            {% endif %}

      </div>
    </div>
  </div>

  <hr>

{% endblock %}

{% block custom_scripts %}

{% endblock %}
    