<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Create New Post</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/create_blog.css' %}">
	
</head>

<body style="background-color: white;">

	
	<!--		 NAVBAR 		  -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
		<div class="container">
		  <a href="{% url 'home' %}"> <svg class="bi bi-bootstrap-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="white"
			xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;">
			<path fill-rule="evenodd"
			  d="M4.002 0a4 4 0 00-4 4v8a4 4 0 004 4h8a4 4 0 004-4V4a4 4 0 00-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"
			  clip-rule="evenodd" />
		  </svg>
		  </a>

		  <ul class="navbar-nav" style="float: left;">
			  <li class="nav-item active">  
				  <span class="nav-link">Draft...</span>
			  </li>
		  </ul>
		  
		  <form class="form-inline">
				<a class="navbar-brand btn btn-primary saveButton" onclick="save()"><span class="fa fa-save" style="font-size: larger;" ></span></a>
				<a class="navbar-brand btn btn-success publishbutton" onclick="publish()">Publish</a>
			</form>
			
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			  <a class="dropdown-item" href="{% url 'view_profile' request.user %}" style="text-align: center;"><span style="float: left; text-align: center;" class="fa fa-user-circle"></span>{{request.user}}</a>
			  <a class="dropdown-item" href="{% url 'myposts' request.user %}">My Posts</a>
			  <a class="dropdown-item" href="{% url 'drafts' request.user %}">Drafts</a>
			  <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
			</div>
		</div>
	  </nav>
	  <!-------#################----------->


	  <form id="hidden_form" method="POST" action="{% url 'create_post' %}">
		  {% csrf_token %}
		  <input id="is_draft" type="hidden" name="is_draft">
		  <input id="hidden_title" type="hidden" name="title">
		  <input id="hidden_description" type="hidden" name="description">
		  <input id="hidden_body" type="hidden" name="body">
	  </form>

	  <div class="blog container">
		<div class="text title" id="title" style="border: 0;"></div>
		<div class="text body" id="description" style="margin-bottom: 2em; border: 0;"></div>
		<div class="text body" id="body" style="min-height: 200px;"></div>

		<script src="{% static 'js/create_post.js' %}"></script>
	  </div>

	  
	  <style>
		blockquote {
		  margin-left: 20px;
		  border-left: 4px solid brown !important;
		  padding-left: 30px;
		  display: block;
		  color: gray;
		}
		.ql-editor {
    		line-height: 2;
		}
		.publishbutton {
			font-size: medium;
		}
		
	  </style>


<!--===============================================================================================-->	
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!--===============================================================================================-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--===============================================================================================-->
    <script src="{% static 'js/validate.js' %}"></script>
<!--===============================================================================================-->

</body>
</html>